input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    -webkit-user-select: none;
    user-select: none;

    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;

    display: block;
    box-sizing: border-box;

    width: 0;

    margin: 0;
    padding: 0.5em;
    padding-top: 0.7em;

    line-height: 1;

    background-color: var(--field-bg-color-disabled);
    color: var(--field-color);

    font-size: var(--font-size);
    text-align: center;

    outline: none;
    border: 1px solid var(--field-border-color);
    border-color: var(--field-border-color);
    border-radius: 15px;

    transition: border-color 0.1s ease-out, border-radius 0.1s ease-out;
}

input[type="radio"]+label.join-right {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

input[type="radio"]+label.join-left {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

input[type="radio"]:checked+label {
    background-color: var(--field-bg-color);
}