:root {
    --background-color: rgb(60, 60, 60);
    --color: rgb(250, 250, 250);

    --field-border-color: rgb(120, 120, 120);
    --field-bg-color: rgb(100, 100, 100);
    --field-color: rgb(250, 250, 250);

    --field-border-color-focus: aquamarine;

    --field-border-color-disabled: rgb(100, 100, 100);
    --field-bg-color-disabled: rgb(80, 80, 80);
    --field-color-disabled: rgb(250, 250, 250);

    --hour-bubble-bg-color-active: rgb(30, 30, 30);
}

/* html elements */
html,
body {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family: sans-serif;

    background-color: var(--background-color);
    color: var(--color);
}

body[data-app-theme="0"] {
    --background-color: rgb(255, 255, 255);
    --color: rgb(0, 0, 0);

    --field-border-color: rgb(180, 180, 180);
    --field-bg-color: rgb(240, 240, 240);
    --field-color: rgb(0, 0, 0);

    --field-border-color-focus: aquamarine;

    --field-border-color-disabled: rgb(180, 180, 180);
    --field-bg-color-disabled: rgb(220, 220, 220);
    --field-color-disabled: rgb(0, 0, 0);

    --hour-bubble-bg-color-active: rgb(210, 210, 210);
}

@media screen and (min-width: 500px) {
    body {
        display: flex;
        flex-direction: column;

        justify-content: flex-start;
        align-items: center;
    }
}

input {
    display: block;
    box-sizing: border-box;

    width: 0;

    margin: 0;
    padding: 0.5em;

    /* fix text being slightly misaligned */
    padding-top: calc(0.5em + 2px);

    background-color: var(--field-bg-color);
    color: var(--field-color);

    border-style: solid;
    border-width: 0;
    border-bottom-width: 4px;
    border-color: var(--field-border-color);

    transition: border-color 0.1s ease-out;
}

input:disabled {
    background-color: var(--field-bg-color-disabled);
    border-color: var(--field-border-color-disabled);
}

input:focus {
    outline: none;
    border-bottom-color: var(--field-border-color-focus);
}


/* flex lib */
.flex-col {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: stretch;
}

.flex-col.centered {
    justify-content: center;
    align-items: stretch;
}

.flex-row {
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;
}

.flex-auto-gap {
    gap: 1em;
}

.flex-row.centered {
    justify-content: center;
    align-items: center;
}

.flex-half {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
}

.flex-q {
    flex-basis: 25%;
    flex-grow: 1;
    flex-shrink: 1;
}

.flex-fill {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

/* collapsible lib */
.collapsible {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.collapsible:before {
    content: '\002b';
    float: left;

    font-weight: bold;

    margin-right: 0.5em;
}

.collapsible.active:before {
    content: '\2212';
}

.collapsible+.content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* app styles */
.app-titlebar {
    -webkit-user-select: none;
    user-select: none;

    margin-bottom: 1em;
}

.app-title {
    margin-top: 0.5em;

    text-align: center;
    font-size: 1.4em;
}

.shift {
    text-align: center;
}

.app-container {
    padding-top: 1em;
    padding-bottom: 5em;

    margin-left: 1em;
    margin-right: 1em;
}

@media screen and (min-width: 500px) {
    .app-container {
        width: 500px;
    }
}

.data-row {
    margin-top: 1em;
}

.hour-bubbles {
    margin-top: 1em;
}

.hour-bubble {
    -webkit-user-select: none;
    user-select: none;

    padding: 0.5em;

    width: 1.1em;
    height: 1.1em;
    line-height: 1;

    background-color: var(--field-bg-color);
    color: var(--field-color);

    border: 1px solid var(--field-border-color);
    border-color: var(--field-border-color);

    border-radius: 50%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.hour-bubble:not(:first-child) {
    margin-left: 1em;
}

.hour-bubble.of-this-shift {
    background-color: var(--hour-bubble-bg-color-active);
    color: var(--field-color);
}